*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid, 
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.header_topline {
	background-color: #43484C;
	padding: 15px 0;
	color: #fff;
}

.header_topline a {
	color: #fff;
}

.top_links { /* разобраться со свойствами класса */
	display: inline-block;
	vertical-align: middle;
	z-index: 10; /* сверху ???*/
}

.top_links a {
	text-decoration: underline;
}

.top_links a:hover {
	text-decoration: none;
}

.soc_buttons {
	float: right;
}

.soc_buttons > a { /* что значит > */
	font-size: 26px;
	margin-left: 8px;
}

.auth_buttons, .main_menu_buttons {
	border: none;
	background-color: transparent;
	font-size: 26px;
}

.main_menu_buttons {
	color: #fff;
	padding: 8px 15px 0;
}

.logo {
	display: block; /* ??? */
	padding: 15px 0;
	color: #fff;
	font-family: "NautilusPompiliusRegular";
	text-align: center;
	font-size: 42px;
}

.top_header {
	background-color: #4aaad2;
}

.main_menu {
	background-color: #3793b7;
	color: #fff;
	margin-bottom: 20px;
}

.main_menu a {
	color: #fff;
	padding: 15px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s; 
}

.main_menu a:hover {
	background-color: #2787af;
}

.main_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
}

.main_menu ul li {
	display: inline-block;
}

.top_contacts {
	float: right;
	font-size: 32px;
	padding: 0 15px;
	background-color: #2787af;
	line-height: 53px;
}